@{
    ViewData["Title"] = "Home Page";
}

<!-- Adicionando a imagem de fundo responsiva -->
<div class="fullscreen-background"></div>

<div class="text-center">
    <h1 class="display-4 bold-text">WebAtendeCidadao</h1>
    <p>
        <a href="https://localhost:44374/swagger/index.html" target="_blank" rel="noopener noreferrer" class="bold-text">
            AtendeCidadao
        </a> é uma <span class="bold-text">API de ouvidoria para a gestão pública.</span>
    </p>
</div>

